section {
    padding-top: 20px;
}
.news {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}
.news div div {
    width: 300px;
    background-color: #F2F2F2;
    box-shadow: 3px 3px 10px rgba(130, 130, 130, 0.45);
    margin-bottom: 20px
}
h4 {
    font-family: 'Yanone Kaffeesatz';
    font-size: 20px;
    color: #333333;
    margin: 10px;
}
.news p {
    font-family: 'Roboto';
    font-size: 13px;
    color: #4F4F4F;
    margin: 10px;
    padding-bottom: 10px;
}
.article {
    border-bottom: solid #4F4F4F 1px;
}
.news a {
    margin-left: 100px;
    color: #DF427A;
}
section img {
    width: 100%
}
@media all and (max-width: 400px) {
    .news div div {
        width: 100%
    }
    .news a {
        float: right;
    }
}